@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mainCol:#fb2c36;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-mainCol: var(--mainCol);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Custom Thin Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Thinner width */
  height: 5px; /* Thinner height for horizontal scrolls */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* zinc-700 */
}

/* Firefox Support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}